modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "zip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dochadzacka"

[[workflows.workflow]]
name = "Dochadzacka"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
FTP_HOST = "37.9.175.156"
FTP_USER = "aplikacia.tofako.sk"
FTP_PASSWORD = "Aplikacia1"
FIREBASE_PROJECT_ID = "dochadzka-web"
FIREBASE_API_KEY = "AIzaSyDy_MzgOTL67A6P08UtptHVpcdpYik6Fgc"
